@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    var index = 1;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Full Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <th>@index</th>
                <td>@user.Email</td>
                <td>@user.FullName</td>
                <td>@user.Age</td>
                <th>@user.Address</th>
                <td>@user.PhoneNumber</td>
                <td>@user.Role</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
            index = index + 1;
        }
        
    </tbody>
</table>
