@model IEnumerable<dynamic>

@* <div>
    @foreach (var item in Model)
    {
        <p>@item.Id - @item.Title - @item.Name - @item.rate</p>
    }
</div> *@

@* @{
    int index = 1;
} *@
<partial name="_PartialHeaderPost" model=ViewBag.SortBy />
<div class="p-3">
    <p>
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Create New</a>
    </p>
    <table class="table table-bordered" id="tblPost">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    CreatedDate
                </th>
                <th>
                    ViewCount
                </th>
                <th>
                    Categories
                </th>
                <th>
                    Rate
                </th>
                <th></th>
            </tr>
        </thead>
        @* <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        @item.ViewCount
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.rate
                    </td>
                    <td class="d-flex flex-column gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                index++;
            }
        </tbody> *@
    </table>
</div>
@section Scripts {
    <script src="~/js/posts.js"></script>
}