@model List<Posts>
<div class="col-md-6 col-lg-6">
    @foreach (var obj in Model)
    {
        <div class="post-preview">
            <a href="post.html">
                <h4>@obj.Title</h4>
            </a>
            <p class="post-meta">
                Posted on @obj.CreatedDate.ToString("MMMM/dd/yyyy h:mm:ss tt") with rate 4.5 by @obj.ViewCount view(s).
            </p>
            <button type="button" class="btn btn-secondary p-0">
                <a asp-controller="Category" asp-action="@obj.Categories.Name.Replace(" ","")">
                    <span class="badge badge-light">#@obj.Categories.Name</span>
                </a>
            </button>
            <p class="line-break">@obj.Description</p>
        </div>
        
    }
    <hr class="my-4" />
</div>  