@model IEnumerable<Posts>
@{
    ViewData["Title"] = "Home Page";
}
@{
    DateTime currentTime = DateTime.Now;
    int seconds = 0;
    TimeSpan timeSpan = new TimeSpan();
}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-6 col-lg-6">
            @foreach (var obj in Model)
            {
                <!-- Post-->
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="Details"
                        asp-route-year="@obj.CreatedDate.Year"
                        asp-route-month="@obj.CreatedDate.Month"
                       asp-route-title="@Uri.EscapeDataString(obj.Title.Replace(" ", "-"))">
                        <h2 class="post-title">@obj.Title</h2>
                    </a>
                    @{
                        timeSpan = currentTime - obj.CreatedDate;
                        seconds = (int)timeSpan.TotalSeconds;
                        @if(seconds < 60)
                        {
                            <p class="post-meta">
                                Posted @seconds seconds ago with rate 4.5 by @obj.ViewCount view(s).
                            </p>
                        }
                        else if(seconds < 3600)
                        {
                            seconds = (int)timeSpan.TotalMinutes;
                            <p class="post-meta">
                                Posted @seconds minutes ago with rate 4.5 by @obj.ViewCount view(s).
                            </p>
                        }else if(seconds >=86400 && seconds < 172800)
                        {
                            <p class="post-meta">
                                Posted Yesterday with rate 4.5 by @obj.ViewCount view(s).
                            </p>
                        }
                        else
                        {
                            <p class="post-meta">
                                Posted on @obj.CreatedDate.ToString("MMMM/dd/yyyy h:mm:ss tt") with rate 4.5 by @obj.ViewCount view(s).
                            </p>
                        }
                    }
                    Category: <button type="button" class="btn btn-secondary p-0">
                        <a asp-controller="Category" asp-action="@obj.Categories.Name.Replace(" ","")">
                            <span class="badge badge-light">#@obj.Categories.Name</span>
                        </a>
                    </button>
                    <br>
                    @await Component.InvokeAsync("TagPost", @obj)
                    <p class="line-break">@obj.Description</p>
                </div>
                <hr class="my-4" />
            }
        </div>
        <div class="col-md-6 col-lg-6">
            <partial name="_PartialAboutCard"/>
        </div>
    </div>
    @{
        var MostViewedPosts = Model.OrderByDescending(x => x.ViewCount).Take(5).ToList();
        var LatestPostsinside = Model.OrderByDescending(x => x.CreatedDate).Take(5).ToList();
    }
    <div class="row gx-4 gx-lg-5">
        <h2>Most View Posts</h2>
        <partial name="_ListPosts" model="MostViewedPosts" />
    </div>
    <div class="row gx-4 gx-lg-5">
        <h2>Latest Posts</h2>
        <partial name="_ListPosts" model="MostViewedPosts" />
    </div>
</div>